<%- include('header') %>
<%- include('navbar') %>

    <div class="dashboard-container">
        <h1>Welkom op het dashboard!</h1>
        <p>Hier zou je inhoud kunnen weergeven die alleen beschikbaar is voor ingelogde gebruikers.</p>
        <% if (role === 'ADMIN') { %>
            <div class="admin-actions">
                <a href="/overview"><button class="edit-btn">Edit</button></a>
            </div>
        <% } %>
        <form action="/logout" method="POST">
            <button type="submit" class="logout-btn">Uitloggen</button>
        </form>
    </div>
</body>
</html>

<%-include('footer') %>

