</body>
<footer>
  <div class="footer-block">
    <h3 class="footer-title">Over ons</h3>
    <p class="footer-content">
      Ontdek samen met ons het ultieme voetbalteam en beleef de passie voor het spel op een unieke manier!
    </p>
  </div>
  <div class="footer-block">
    <h3 class="footer-title">Contact</h3>
    <p class="footer-content">Email: uteam@kaptan.be</p>
    <p class="footer-content">Telefoon: +32 478249100</p>
  </div>
 
  <p class="copyright">© 2024 Ultimate Team van Kaptan</p>
</footer>
</html>
