<footer>
  <div class="footer-block">
    <h3 class="footer-title">Over ons</h3>
    <p class="footer-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
  <div class="footer-block">
    <h3 class="footer-title">Contact</h3>
    <p class="footer-content">Email: info@example.com</p>
    <p class="footer-content">Telefoon: 123-456-7890</p>
  </div>
  <div class="footer-block">
    <h3 class="footer-title">Volg ons</h3>
    <ul class="social-links">
      <li>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </div>
  <p class="copyright">© 2024 Ultimate Team van Kaptan</p>
</footer>
