<%-include('header') %>
<%-include('navbar') %>

<div class="container mx-auto text-center">
  <div class="intro-container max-w-2xl bg-cover mb-8 py-12 mx-auto">
    <h2 class="intro-title text-3xl text-black font-bold mb-4">Welkom bij het Ultimate Team van Kaptan!</h2>

    <p class="intro-text text-lg text-black mb-8">
      Ontdek de fascinerende wereld van voetbal met ons. Hier vind je een schat
      aan informatie over je favoriete voetballers, clubs en nog veel meer. Blader
      door onze uitgebreide collectie en leer alles over de legendes van het spel,
      bekijk actuele wedstrijdresultaten en volg het laatste nieuws uit de
      voetbalwereld. Of je nu een fervent supporter bent of gewoon geïnteresseerd
      bent in de sport, er is voor elk wat wils op onze site.
    </p>
    <a href="/overview" class="explore-button inline-block bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Verken mijn ultimate team!</a>
  </div>

  <div class="image-group flex flex-wrap justify-center gap-4">
    <img src="../assets/images/stadions/image1.jpg" alt="Voetbalveld 1" class="w-24 h-24 object-cover rounded-full" />
    <img src="../assets/images/stadions/image2.jpg" alt="Voetbalveld 2" class="w-24 h-24 object-cover rounded-full" />
    <img src="../assets/images/stadions/image3.jpg" alt="Voetbalveld 3" class="w-24 h-24 object-cover rounded-full" />
    <img src="../assets/images/stadions/image4.jpg" alt="Voetbalveld 4" class="w-24 h-24 object-cover rounded-full" />
    <img src="../assets/images/stadions/image5.jpg" alt="Voetbalveld 5" class="w-24 h-24 object-cover rounded-full" />
  </div>
</div>
<%-include('footer') %>
