<nav class="bg-gray-800 p-4">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between">
            <div>
                <a href="/" class="text-white font-bold">Home</a>
            </div>
            <div>
                <a href="/overview" class="text-white">Overzicht</a>
            </div>
        </div>
    </div>
</nav>