<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Website</title>
</head>
<body>
    <% include('header') %>
    <h1>Welcome to My Website</h1>
    <p>Explore our Ultimate Team!</p>
    <a href="/overview">Go to Ultimate Team</a>
    <% include('footer') %> <!-- Include the footer.ejs file -->
</body>
</html>