<%-include('header') %>

<div class="intro-container">
  <h2 class="intro-title">Welkom bij de Ultimate Team van Kaptan!</h2>

  <p class="intro-text">
    Ontdek de fascinerende wereld van voetbal met ons. Hier vind je een schat
    aan informatie over je favoriete voetballers, clubs en nog veel meer. Blader
    door onze uitgebreide collectie en leer alles over de legendes van het spel,
    bekijk actuele wedstrijdresultaten en volg het laatste nieuws uit de
    voetbalwereld. Of je nu een fervent supporter bent of gewoon geïnteresseerd
    bent in de sport, er is voor elk wat wils op onze site.
  </p>
  <a href="/overview" class="explore-button">Verken mijn ultimate team!</a>
</div>

<%-include('footer') %>
