<%- include('partials/header') %>

<h1>Shop van Kaptan</h1>
<h2>Registreer je hier!</h2>

<form action="/register" method="POST">
    <label for="username">Gebruikersnaam:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Wachtwoord:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Registreren</button>
</form>

<button onclick="window.location.href='/login';">Al een account? Log in hier</button>

<%- include('partials/footer') %>